extends ../layout

block content 

    if message
        #notification.alert.alert-success
            | #{message}

    if errorMessage
        #notification.alert.alert-danger
            | #{errorMessage}

    h1(class = "text-center") Lista de materias del alumno #{alumno.nombre} #{alumno.apellido}

    if alumno.Materia.lentgh === 0 
        p(class="text-center") No esta cursando ninguna Materia 
    else 
        table#myTable.table.table-striped
            thead
                tr
                    th Id
                    th Nombre
                    th Estado
                    th Acciones
            tbody
                each a in alumno.Materia
                    tr
                        td #{a.idMateria}
                        td #{a.nombre}
                        td #{a.estado? 'Activo':'Inactivo'}
                        td
                            div(class="btn-group")
                                form(action=`/nota/notasDeAlumno/${alumno.idAlumno}`, method= 'GET')
                                        button(type="submit" class="btn btn-dark") Ver Notas
                                if alumno.estado == 1
                                    form(action=`/nota/crear/${alumno.idAlumno}/${a.idMateria}`, method= 'GET')
                                        button(type="submit" class="btn btn-info") Poner Nota
                            

                                
