doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Mis Notas
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css")

    body 
        // Barra de navegación con Bootstrap
        nav(class="navbar navbar-expand-lg navbar-light bg-light")
            a(class="navbar-brand", href="/") Sistema de Alumnos
            button(class="navbar-toggler", type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")
            div(class="collapse navbar-collapse", id="navbarNav")
                ul(class="navbar-nav")
                    li(class="nav-item")
                        a(class="nav-link", href="/home/logout") Salir

        div.container.mt-4
            if !materias || materias.length == 0
                h1(class="text-center text-danger") No cuenta con notas!
            else
                h2(class="text-center mb-3 text-primary") Notas del Alumno/a #{alumno.nombre} #{alumno.apellido}

                table(class="table table-striped table-bordered text-center shadow-lg")
                    thead(class="table-dark text-white")
                        tr 
                            th Materia 
                            th C1 
                            th C2 
                            th C3 
                            th Promedio
                    tbody 
                        each materia in materias
                            tr
                                td(class="fw-bold")= materia.nombre
                                each calificacion in materia.calificaciones
                                    td= calificacion !== null ? calificacion : '-'
                                td(class="fw-bold text-success")= materia.promedio
