extends ../layout 

block content 

    h2 Crear Materia
    div(class ="row")
        div(class = "col-1")
            form(action="/materia/alta" method="post") 
                div(class="mb-3 mx-1") 
                    label(for="nombre" class="form-label") Nombre
                    input(type = "text" name = "nombre" class="form-control" required)
                    button(type = "submit" class ="btn btn-primary") Enviar

    h1(class="text-center") Listado de Materias 
    table#myTable.table.table-striped
        thead 
            tr 
                th Id
                th Nombre
                th Estado 
                th Acciones
        tbody 
            if materias.length >0 
                each m in materias 
                    tr
                        td #{m.idMateria}
                        td #{m.nombre} 
                        td #{m.estado?'activa':'inactiva'}
                        td 
                            div(class="btn-group")
                                if m.estado == 1
                                    form(action=`/materia/editar/${m.idMateria}`, method= 'GET')
                                        button(type="submit" class="btn btn-info") Editar

                                    form(action=`/materia/baja/${m.idMateria}?_method=PATCH`, method='POST')
                                        button(type="submit" class="btn btn-warning") Desactivar 
                                else 
                                    form(action=`/materia/activar/${m.idMateria}?_method=PATCH`, method="post") 
                                        button(type="submit" class="btn btn-success") Activar
